.container{
    width:auto;
    height:900px;
    background-color:lightgrey;
}

.header{
    width:auto;
    height:150px;
    background-color:white;
    padding-top:0px;
    font-size:3vw;
    font-family:'Acme', sans-serif;
}

.search{
    width:250px;
    height:40px;
    background-color:green;
    margin-top:-130px;
    margin-left:10px;   
}

.button{
    width:80px;
    height:30px;
    background-color:white;
    margin-top:0.1vw;
    margin-left:48vw;
    border-color:white;
}

.button:hover{
    background-color:grey;
    cursor:pointer;
}

.button2{
    width:80px;
    height:30px;
    background-color:white;
    margin-top:20px;
    margin-left:20px;
    border-color:white;
}

.button2:hover{
    background-color:grey;
    cursor:pointer;
}

.button3{
    width:200px;
    height:30px;
    background-color:white;
    margin-top:20px;
    margin-left:20px;
    border-color:white;
}

.button3:hover{
    background-color:grey;
    cursor:pointer;
}

#section{
    width:450px;
    height:450px;
    background-color:rgba(255, 212, 255,100);
    margin-top:19px;
    float:left;
    margin-left:-45px;
}

#section:hover{
    cursor: pointer;
}

.sectionbox{
    height:120px;
    width:80px;
    background-color:green;
    margin-left:550px;
    margin-top:-498px;
    float:left;
    border-color:white;
}

.sectionbox2{
    height:120px;
    width:80px;
    background-color:green;
    margin-left:550px;
    margin-top:-350px;
    float:left;
    border-color:white;
}

.sectionbox3{
    height:120px;
    width:80px;
    background-color:green;
    margin-left:550px;
    margin-top:-200px;
    float:left;
    border-color:white;
}

#section2{
    width:660px;
    height:400px;
    background-color:whitesmoke;
    float:left;
    margin-top:19px;
    margin-left:250px;
}

.centerbox{
    width:500px;
    height:40px;
    background-color:white;
}

.lastbutton{
    width:130px;
    height:40px;
    background-color:white;
    border-style:outset;
    margin-left:70px;
    margin-top:15px;
}

.lastbutton1{
    width:130px;
    height:40px;
    background-color:black;
    border-style:outset;
    margin-left:70px;
    margin-top:15px;
    color:white;
}

.footer{
    width:660px;
    height:130px;
    background-color:whitesmoke;
    float:left;
    margin-left:250px;
    margin-top:10px;
}

.footer1{
    color:grey;
    margin-left:265px;
    margin-top:-38px;
}